<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>vcTitle</key>
	<string>Test</string>
	<key>formTables</key>
	<array>
		<dict>
			<key>tableViewStyle</key>
			<integer>1</integer>
			<key>buttonTitle</key>
			<string>提交</string>
			<key>formSections</key>
			<array>
				<dict>
					<key>formRows</key>
					<array>
						<dict>
							<key>rowType</key>
							<string>YHFormTitleTextCell</string>
							<key>title</key>
							<string>性别</string>
							<key>key</key>
							<string>sex</string>
						</dict>
						<dict>
							<key>rowType</key>
							<string>YHFormTextCell</string>
							<key>title</key>
							<string>年龄</string>
							<key>key</key>
							<string>age</string>
						</dict>
						<dict>
							<key>rowType</key>
							<string>YHFormSwitchCell</string>
							<key>title</key>
							<string>已婚</string>
							<key>key</key>
							<string>marry</string>
							<key>value</key>
							<false/>
						</dict>
						<dict>
							<key>rowType</key>
							<string>YHFormSelectorCell</string>
							<key>title</key>
							<string>用途</string>
							<key>key</key>
							<string>use</string>
							<key>value</key>
							<integer>1</integer>
							<key>formSelectors</key>
							<array>
								<dict>
									<key>value</key>
									<integer>0</integer>
									<key>displayText</key>
									<string>吃饭</string>
								</dict>
								<dict>
									<key>value</key>
									<integer>1</integer>
									<key>displayText</key>
									<string>睡觉</string>
								</dict>
								<dict>
									<key>value</key>
									<integer>2</integer>
									<key>displayText</key>
									<string>拉屎</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>rowType</key>
							<string>YHFormSelectorButtonCell</string>
							<key>title</key>
							<string>贷款产品</string>
							<key>buttonTitle</key>
							<string>查看详情</string>
							<key>key</key>
							<string>type</string>
							<key>value</key>
							<integer>1</integer>
							<key>formSelectors</key>
							<array>
								<dict>
									<key>value</key>
									<integer>0</integer>
									<key>displayText</key>
									<string>工薪贷</string>
								</dict>
								<dict>
									<key>value</key>
									<integer>1</integer>
									<key>displayText</key>
									<string>助学贷</string>
								</dict>
								<dict>
									<key>value</key>
									<integer>2</integer>
									<key>displayText</key>
									<string>极速贷</string>
								</dict>
							</array>
						</dict>
						<dict>
							<key>rowType</key>
							<string>YHFormDateCell</string>
							<key>title</key>
							<string>日期</string>
							<key>key</key>
							<string>date</string>
						</dict>
						<dict>
							<key>rowType</key>
							<string>YHFormAddressPickerCell</string>
							<key>title</key>
							<string>地址</string>
							<key>key</key>
							<string>address</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
